html,
body {
    /* font-family: "RocknRoll One", sans-serif; */
    color: rgb(55, 51, 49);
}

/********** ホーム **********/
.firstview-section {
    position: relative;
    height: 70vh;
    /* background-image: url("https://firebasestorage.googleapis.com/v0/b/chocomint-c4a70.appspot.com/o/my-img%2Fchocomint_top.jpg?alt=media&token=35d94f08-aacb-478d-ad0e-dcfa5ef0f8f4"); */
    background-image: url("/images/chocomint_top.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: -1;
}

.firstview-section::before {
    position: absolute;
    content: "";
    display: block;
    background-color: rgba(41, 205, 181, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.firstview-section_contents {
    /* padding-top: 5vh; */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
}

.home-contents_component-wrap {
    position: relative;
}

.home-contents_component {
    width: 60%;
    margin: 0 auto;
    padding: 100px 0 100px;
}

.home-contents_component h2 {
    color: #29cdb5;
    font-size: 2rem;
    margin-bottom: 10px;
}

.component_about-chocomintou p {
    line-height: 250%;
    font-size: 1.1rem;
}

.component_chocomint-katsu {
    position: relative;
}

.component_chocomint-katsu_pc {
    display: flex;
}

.component_chocomint-katsu_pc p {
    line-height: 250%;
    font-size: 1.1rem;
}

.component_chocomint-katsu_img::after {
    position: absolute;
    content: "";
    width: 104%;
    height: 104%;
    backdrop-filter: blur(3px);
    top: -5px;
    left: -5px;
}

.component_chocomint-katsu_img img {
    border-radius: 15%;
    height: 180px;
    min-height: 100px;
}

.component_chocomint-katsu_text1 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 38%;
    left: 50%;
    font-size: 1.6rem;
    width: 100%;
    color: white;
    font-weight: 600;
    width: fit-content;
}

.component_chocomint-katsu_text2 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
    font-size: 0.8rem;
    width: 100%;
    color: white;
    font-weight: 600;
    line-height: 150%;
    width: fit-content;
}

/********************************

	スマートフォン

********************************/
@media only screen and (max-width: 767px) {
    /********** ホーム **********/
    .firstview-section {
        position: relative;
        height: 70vh;
        background: rgb(41, 205, 181);
        z-index: 0;
    }

    .firstview-section_contents {
        width: 100%;
        top: 50%;
    }

    .firstview-section_contents_text {
        font-size: 7vw;
    }

    .firstview-section_contents_img {
        width: 70%;
        margin: -1rem auto 1rem;
    }

    .home-contents_component {
        width: 80%;
        margin: 0 auto;
        padding: 30px 0 30px;
    }

    .home-contents_component h2 {
        position: relative;
        color: #29cdb5;
        font-size: 1.4rem;
        margin-bottom: 10px;
    }

    .component_about-chocomintou {
        padding-bottom: 60px;
    }

    .component_about-chocomintou p {
        line-height: 170%;
        font-size: 1rem;
    }

    .component_about-chocomintou::after {
        position: absolute;
        content: "";
        display: block;
        /* background-image: url("https://firebasestorage.googleapis.com/v0/b/chocomint-c4a70.appspot.com/o/my-img%2Fwave.png?alt=media&token=d9f01630-dbf4-4b81-b921-7d6f3a60ef87"); */
        background-image: url("/images/wave.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100px;
        bottom: 0px;
        left: 0;
        z-index: -1;
    }

    .component_chocomint-katsu {
        margin: 40px auto;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}
